@keyframes hero-gradient-animation {
    0% {
        --y-0: 99%;
        --c-0: hsla(291, 76%, 91%, 1);
        --x-0: 37%;
        --s-start-0: 15%;
        --s-end-0: 72%;
        --c-1: hsla(224, 99%, 60%, 1);
        --y-1: 78%;
        --s-start-1: 4%;
        --s-end-1: 56%;
        --x-1: 41%;
        --x-2: 49%;
        --c-2: hsla(183, 52%, 85%, 1);
        --y-2: 27%;
        --s-start-2: 2%;
        --s-end-2: 81%;
        --c-3: hsla(207, 75%, 75%, 1);
        --s-start-3: 7%;
        --s-end-3: 70%;
        --y-3: 43%;
        --x-3: 59%;
        --c-4: hsla(183, 73%, 64%, 1);
        --y-4: 8%;
        --x-4: 87%;
        --s-start-4: 0%;
        --s-end-4: 62%;
    }

    100% {
        --y-0: 13%;
        --c-0: hsla(276, 51%, 95%, 1);
        --x-0: 79%;
        --s-start-0: 19%;
        --s-end-0: 83%;
        --c-1: hsla(298, 86%, 62%, 1);
        --y-1: 20%;
        --s-start-1: 1%;
        --s-end-1: 73%;
        --x-1: 66%;
        --x-2: 47%;
        --c-2: hsla(218, 71%, 85%, 1);
        --y-2: 96%;
        --s-start-2: 15%;
        --s-end-2: 66%;
        --c-3: hsla(236, 68%, 100%, 1);
        --s-start-3: 5%;
        --s-end-3: 68%;
        --y-3: 84%;
        --x-3: 28%;
        --c-4: hsla(239, 59%, 70%, 1);
        --y-4: 82%;
        --x-4: 37%;
        --s-start-4: 20%;
        --s-end-4: 75%;
    }
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 99%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(291, 76%, 91%, 1)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 37%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(224, 99%, 60%, 1)
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 78%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 4%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 56%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 41%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 49%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(183, 52%, 85%, 1)
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 27%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 81%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(207, 75%, 75%, 1)
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 70%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 43%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 59%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(183, 73%, 64%, 1)
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8%
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 87%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 62%
}

.animated-bg-pinky {
    --y-0: 99%;
    --c-0: hsla(291, 76%, 91%, 1);
    --x-0: 37%;
    --c-1: hsla(224, 99%, 60%, 1);
    --y-1: 78%;
    --x-1: 41%;
    --x-2: 49%;
    --c-2: hsla(183, 52%, 85%, 1);
    --y-2: 27%;
    --c-3: hsla(207, 75%, 75%, 1);
    --y-3: 43%;
    --x-3: 59%;
    --c-4: hsla(183, 73%, 64%, 1);
    --y-4: 8%;
    --x-4: 87%;
    ;
    background-color: hsla(223, 89%, 87%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
}

.animated-bg-grey {
    background-color: hsla(0, 0%, 50%, 1);
    background-image: radial-gradient(circle at 40% 20%, hsla(0, 0%, 100%, 1) 0%, transparent 50%), radial-gradient(circle at 0% 50%, hsla(355.0000000000001, 0%, 100%, 1) 0%, transparent 50%), radial-gradient(circle at 80% 50%, hsla(340, 100%, 76%, 0) 0%, transparent 50%), radial-gradient(circle at 0% 100%, hsla(21.999999999999915, 2%, 9%, 1) 0%, transparent 50%), radial-gradient(circle at 80% 100%, hsla(241.99999999999707, 3%, 77%, 1) 0%, transparent 50%);
    background-blend-mode: normal, normal, normal, normal, normal;
}
