<!DOCTYPE html>
<html lang="es-CO">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Crear Guía Rápida | Lity App</title>
  <link rel="icon" type="image/x-icon" href="/Images/LityAppFavicon2.png" />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/nav-styles.css">
  <link rel="stylesheet" href="/css/navbar-fixed.css">
  <link rel="stylesheet" href="/css/hero-style.css">
  <link rel="stylesheet" href="/css/animated-background.css">
</head>
<body class="animated-bg-pinky">

<!-- Barra de Navegación -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <!-- Código de navegación aquí -->
</nav>

<div style="margin-top: 100px;"></div>

<!-- Formulario de Crear Guía Rápida -->
<div class="container d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-lg w-100" style="max-width: 600px;">
    <img class="mb-4 w-50 d-block mx-auto" src="/Images/LityLogoLogin.png" alt="Logo Lity App">

    <h3 class="text-center mb-4">Crear Guía Rápida</h3>
    <form action="/api/admin/create-guia" method="POST">
      <!-- Tipo de Guía Rápida -->
      <div class="mb-3">
        <label for="tipoGuia" class="form-label">Tipo de Guía Rápida</label>
        <select class="form-select" id="tipoGuia" name="tipoGuia" required>
          <option selected disabled>Selecciona un tipo de guía</option>
          <option value="Atracciones">Guía Rápida de Atracciones</option>
          <option value="Comida Típica">Guía Rápida de Comida Típica</option>
          <option value="Transporte">Guía Rápida de Transporte</option>
          <option value="Seguridad">Tips De Seguridad</option>
        </select>
      </div>

      <!-- Título de la Guía -->
      <div class="mb-3">
        <label for="tituloGuia" class="form-label">Título de la Guía</label>
        <input type="text" class="form-control" id="tituloGuia" name="titulo" placeholder="Ingresa el título de la guía" required>
      </div>

      <!-- Párrafo de la Guía -->
      <div class="mb-3">
        <label for="parrafoGuia" class="form-label">Párrafo de la Guía</label>
        <textarea class="form-control" id="parrafoGuia" name="parrafo" rows="4" placeholder="Escribe el contenido de la guía" required></textarea>
      </div>

      <!-- Imágenes de la Guía -->
      <div class="mb-3">
        <label for="imagenesGuia" class="form-label">Imágenes de la Guía</label>
        <input type="file" class="form-control" id="imagenesGuia" name="imagenes" multiple>
      </div>

      <!-- Botón de Guardar -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Guardar Guia</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
