<!DOCTYPE html>
<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada | Lity App</title>
    
    <link rel="icon" type="image/x-icon" href="/Images/LityAppFavicon2.png" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/error404.css" />
    <link rel="stylesheet" href="/css/animated-bg-error.css">



</head>
<body class="animated-bg-error">

    <div class="error-container">
        <!-- Logo de Lity App -->
        <img class="mb-4 logo d-block mx-auto" src="/Images/LityLogoLogin.png" alt="Logo Lity App">

        <!-- Mensaje de error -->
        <h1>Error 404!</h1>


        <p>Lo sentimos, la página que estás buscando no fue encontrada.</p>

        <!-- Opciones de navegación -->
        <a href="/api/admin/" class="btn btn-primary">Inicio</a>
    </div>

</body>
</html>
