  <!doctype html>
<html lang="es-CO" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="../assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Noticias | Lity App</title>
    <link rel="icon" type="image/x-icon" href="/Images/LityAppFavicon2.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/carousel.css" rel="stylesheet">
    
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark sticky-top" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/api/lity/">
            <img src="/images/LityAppLogo2.png" alt="Lity App" width="70" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Lity App</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item"><a class="nav-link" href="/api/lity/">Inicio</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Guias Rapidas</a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/api/lity/guiasRapidasUser">Guías Rápidas</a></li>
                            <li><a class="nav-link" href="/api/lity/guiasRapidasAtracciones">Guías Rápida de Atracciones</a></li>
                            <li><a class="nav-link" href="/api/lity/guiasRapidasComidaTipica">Guías Rápida de Comida Típica</a></li>
                            <li><a class="nav-link" href="/api/lity/guiasRapidasTransporte">Guías Rápida de Transporte</a></li>
                            <li><a class="nav-link" href="/api/lity/tipsDeSeguridad">Tips De Seguridad</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/api/lity/experienciasUser">Experiencias</a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/lity/noticiasUser">Noticias</a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/lity/toursUser">Tour por la ciudad</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<main>

    <div class="container marketing">

    
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">¡Guias Rapidas De Atracciones!</h1>

                </div>
            </div>
        </section>

        <hr>

        <div th:if="${guias.isEmpty()}">
            <p>No hay guías disponibles en esta categoría.</p>
        </div>

        <div th:each="guia : ${guias}" class="row mt-4 align-items-center">
            <!-- Imagen de la guia rapida -->
            <div class="col-md-6 text-center">
                <img th:src="@{${guia.image}}" class="img-fluid rounded shadow"
                     alt="Imagen de la noticia"
                     style="max-width: 100%; height: auto; object-fit: cover;">
            </div>


            <!-- Texto de la guia rapida -->
            <div class="col-md-6">
                <h2 id="cultura" th:text="${guia.titulo}" class="featurette-heading fw-normal lh-1" >Esto es un titulo</h2>
                <p th:text="${guia.parrafo}" class="lead">Este es un parrafo</p>
                <button type="button" class="btn btn-sm btn-outline-secondary" th:text="${guia.tipoDeGuia}">Tipo De Guia</button>

            </div>



            <hr class="featurette-divider">
        </div>


        

    </div>


    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <img src="/images/LityAppLogo2.png" alt="Lity App" width="180" height="140">
    
            </div>
            <div class="col-6 col-md">
                <h5>Lity App</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary text-decoration-none" href="#">Telefono: +57 3017547912</a></li>
                    <li><a class="link-secondary text-decoration-none" href="#">Correo: lityapp@gmail.com</a></li>
                    <li><a class="link-secondary text-decoration-none" href="#">Siguenos En Instagram Como @lityapp</a></li>
    
                </ul>
            </div>
    
            <div class="col-6 col-md">
                <h5>Informacion</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary text-decoration-none" href="#">Avenida San Martín, #10-20 Zona Norte, Cartagena Bolívar, Colombia</a></li>
                    <small class="d-block mb-3 text-body-secondary">&copy;Lity App 2024</small>
    
                </ul>
            </div>
        </div>
    </footer>
</main>
<script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>