<!DOCTYPE html>
<html lang="es-CO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Lity App</title>
    <link rel="icon" type="image/x-icon" href="/Images/LityAppFavicon2.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/principal.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark sticky-top" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/api/lity/">
            <img src="/images/LityAppLogo2.png" alt="Lity App" width="70" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Lity App</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item"><a class="nav-link" href="/api/lity/">Inicio</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Guias Rapidas</a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/api/lity/guiasRapidasUser">Guías Rápidas</a></li>
                            <li><a class="nav-link" href="/api/lity/guiasRapidasAtracciones">Guías Rápida de Atracciones</a></li>
                            <li><a class="nav-link" href="/api/lity/guiasRapidasComidaTipica">Guías Rápida de Comida Típica</a></li>
                            <li><a class="nav-link" href="/api/lity/guiasRapidasTransporte">Guías Rápida de Transporte</a></li>
                            <li><a class="nav-link" href="/api/lity/tipsDeSeguridad">Tips De Seguridad</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/api/lity/experienciasUser">Experiencias</a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/lity/noticiasUser">Noticias</a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/lity/toursUser">Tour por la ciudad</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<!-- Main Content -->
<main>
    <!-- Carousel Section -->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/backgroundReloj.jpg" class="d-block w-100" alt="Cartagena">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Cartagena De Indias</h1>
                        <p class="opacity-12">Combina historia, arquitectura colonial y playas paradisíacas.</p>
                        <p><a class="btn btn-lg btn-primary" href="/api/lity/experienciasUser">Conoce Nuestras Experiencias!</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/backgroundPlaya.jpg" class="d-block w-100" alt="Sitios turísticos">
                <div class="carousel-caption">
                    <h1>Sitios turísticos más populares</h1>
                    <p>Descubre las atracciones que hacen única a Cartagena de Indias.</p>
                    <p><a class="btn btn-lg btn-primary" href="/api/lity/toursUser">Ver más</a></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>

<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <img src="/images/LityAppLogo2.png" alt="Lity App" width="180" height="140">
        </div>
        <div class="col-6 col-md">
            <h5>Lity App</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Telefono: +57 3017547912</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Correo: lityapp@gmail.com</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Siguenos En Instagram Como @lityapp</a></li>

            </ul>
        </div>

        <div class="col-6 col-md">
            <h5>Informacion</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Avenida San Martín, #10-20 Zona Norte, Cartagena Bolívar, Colombia</a></li>
                <small class="d-block mb-3 text-body-secondary">&copy;Lity App 2024</small>

            </ul>
        </div>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
