<!doctype html>
<html lang="es-CO" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Tours | Lity App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/Images/LityAppFavicon2.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/tour.css" rel="stylesheet">

</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark sticky-top" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/api/lity/">
            <img src="/images/LityAppLogo2.png" alt="Lity App" width="70" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Lity App</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item"><a class="nav-link" href="/api/lity/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/lity/guiasRapidasUser">Guías Rápidas</a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/lity/experienciasUser">Experiencias</a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/lity/noticiasUser">Noticias</a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/lity/toursUser">Tour por la ciudad</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">¡Tours Exclusivos para Todos los Gustos!</h1>
                <p class="lead text-muted">Explora Cartagena con nuestros tours únicos, vive aventuras inolvidables en cada rincón de la ciudad.</p>

            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="tour : ${tours}">
                    <div class="card shadow-sm">
                        <img th:src="${tour.getImage()}" class="d-block w-100" alt="Descripción de la imagen" width="100%" height="225">

                        <div class="card-body">
                            <h4 class="fw-light" th:text="${tour.nombreTour}">Nombre Del Tour</h4>
                            <p class="card-text" th:text="${tour.descripcionTour}">Descripcion Del Tour</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" th:text="'$' + ${tour.precio} + ' COP'">Precio</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" th:text="'Agencia: ' + ${tour.agencia}">Agencia De Turismo</button>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary" th:text="${tour.contacto}">Numero</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!---- Footer --->

<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <img src="/images/LityAppLogo2.png" alt="Lity App" width="180" height="140">

        </div>
        <div class="col-6 col-md">
            <h5>Lity App</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Telefono: +57 3017547912</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Correo: lityapp@gmail.com</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Siguenos En Instagram Como @lityapp</a></li>

            </ul>
        </div>

        <div class="col-6 col-md">
            <h5>Informacion</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Avenida San Martín, #10-20 Zona Norte, Cartagena Bolívar, Colombia</a></li>
                <small class="d-block mb-3 text-body-secondary">&copy;Lity App 2024</small>

            </ul>
        </div>
    </div>
</footer>


<script src="/js/bootstrap.bundle.min.js"></script>


</body>

</html>